<template>
  <section class="full-height flex-column-1 au-animate ignore">
    <div class="flex-row-none section-header">
      ${heading}
    </div>
    <div class="flex-row-1 ignore">
      <div class="flex-column-1 search-panel">
        <div class="input-group">
          <input id="searchInput" type="text" 
            class="form-control" 
            placeholder="Search for..."
            value.bind="search">
          <span class="input-group-btn">
            <button id="searchInputBtn" 
              class="btn btn-primary" 
              type="button"
              click.delegate="performSearch()">Go!</button>
          </span>
        </div>
      </div>
    </div>  
  </section>
</template>